In [ ]:
Q1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a
file named test.txt.

In [1]:
f = open("test.txt","w")
f.write("create anew file")
f.close()
f = open("test.txt","r")
print(f.read())

create anew file

In [ ]:
Q2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [3]:
test2 = open("test.txt","r")
print(test2.read())

create anew file

In [ ]:
Q3. Create a CSV file called books.csv by using these lines:

In [15]:
# first import the csv module;
import csv

# create the csv file:
f = open("book.csv","w")
f.write("Title CSV file \n")
f.write("Author Ambreesh\n")
f.write("The Weirdstone of Brisingamen,Alan Garner,1960 \n")
f.write("Perdido Street Station,China Miéville,2000 \n")
f.write("Thud!,Terry Pratchett,2005 \n")
f.write("The Spellman Files,Lisa Lutz,2007 \n")
f.write("Small Gods,Terry Pratchett,1992 \n")
f.write("year 1/1/2022")
f.close

# open a file in a read mode:
f= open("book.csv","r")
print(f.read())

Title CSV file
Author Ambreesh
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
year 1/1/2022

In [ ]:
Q4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [29]:
import sqlite3 
obj = sqlite3.connect('book.db')
query = obj.cursor()
query.execute('''
create table student2(
title text,
author text,
year integer)
''')
# to insert rows,by list and use executemany.
list = [('life of humanes','ambreesh',2010),('life of animales','jatin',2012),('student life','shashank',2017)]
query.executemany('''
insert into student values(?,?,)''',list)






obj.commit()

OperationalError: table student2 already exists

In [ ]:
Q5. Read books.csv and insert its data into the book table.

In [30]:
import sqlite3 
obj = sqlite3.connect('book.db')
query = obj.cursor()

list1 = query.execute('select * from student')
for i in list1:
    print(i)
obj.commit()

('ambreesh', 2010)
('jatin', 2012)
('student life', 2017)

In [ ]:
Q6. Select and print the title column from the book table in alphabetical order.

In [34]:
import sqlite3 
obj = sqlite3.connect('book.db')
query = obj.cursor()

list1 = query.execute('select author from student')
for i in list1:
    print(i)

('ambreesh',)
('jatin',)
('student life',)

In [ ]:
Q7. From the book table, select and print all columns in the order of publication.

In [35]:
import sqlite3 
obj = sqlite3.connect('book.db')
query = obj.cursor()

list1 = query.execute('select * from student')
for i in list1:
    print(i)
obj.commit()

('ambreesh', 2010)
('jatin', 2012)
('student life', 2017)

In [ ]:
Q8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [ ]:
from sqlalchemy import create_engine
                # driver+dialect, filename, 
engine=create_engine("sqlite:///book.sqlite")
connection = engine.connect()
print(engine.student2)

In [ ]:
Q9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
test.

In [4]:
!pip install redis

Collecting redis
  Downloading redis-4.1.0-py3-none-any.whl (171 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Collecting packaging>=21.3
  Downloading packaging-21.3-py3-none-any.whl (40 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\ambreesh kumar\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\ambreesh kumar\anaconda3\lib\site-packages (from packaging>=21.3->redis) (2.4.7)
Installing collected packages: packaging, deprecated, redis
  Attempting uninstall: packaging
    Found existing installation: packaging 20.9
    Uninstalling packaging-20.9:
      Successfully uninstalled packaging-20.9
Successfully installed deprecated-1.2.13 packaging-21.3 redis-4.1.0

In [20]:


import redis
r = redis.Redis(host='Fester_Bestertester', port=6379, db=0)
print(r)

Redis<ConnectionPool<Connection<host=Fester_Bestertester,port=6379,db=0>>>

In [ ]:
r.rpush('hispanic', 'uno')
1
>>> r.rpush('hispanic', 'dos')
2
>>> r.rpush('hispanic', 'tres')
3
>>> r.rpush('hispanic', 'cuatro')
4
>>> r.llen('hispanic')
4
>>> r.lindex('hispanic', 3)
b'cuatro'

In [ ]:
Q10. Increment the count field of test and print it.

In [ ]:
AUTH someuser wrongpassword
(error) WRONGPASS invalid username-password pair
> ACL LOG 1
1)  1) "count"
    2) (integer) 1
    3) "reason"
    4) "auth"
    5) "context"
    6) "toplevel"
    7) "object"
    8) "AUTH"
    9) "username"
   10) "someuser"
   11) "age-seconds"
   12) "4.0960000000000001"
   13) "client-info"
   14) "id=6 addr=127.0.0.1:63026 fd=8 name= age=9 idle=0 flags=N db=0 sub=0 psub=0 multi=-1 qbuf=48 qbuf-free=32720 obl=0 oll=0 omem=0 events=r cmd=auth user=default"